.land {
    fill: none;
 	stroke: #a5967e;
    stroke-width: 1px;
}

.countries_1715{
	fill: #d7c7ad;
  	stroke: #766951;
	stroke-width: .5px;
}

.countries_1783{
	fill: #d7c7ad;
  	stroke: #766951;
	stroke-width: .5px;
}

.countries_1815{
	fill: #d7c7ad;
  	stroke: #766951;
	stroke-width: .5px;
}

.mapContainer{
	fill: #a4bac7;

}

.dropdown {
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 10;
    font-family: baskerville;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

.dropdownProjections{
    position: absolute;
    top: 130px;
    left: 20px;
    z-index: 10;
    font-family: baskerville;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

#controls{
	height: 10%;;
}

#map {
	height: 90%;
}

body {
  background-color: white;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

p {
  color: white;
  margin: 50px;
}

a {
  color: #4FDEF2;
}

.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {
  stroke: black;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: gray;
  text-align: center;
  font-size: 18px;
}

