.land {
    fill: none;
 	stroke: #a5967e;
    stroke-width: 1px;
}

.countries_1715{
	fill: #d7c7ad;
  	stroke: #766951;
	stroke-width: .5px;
}

.countries_1783{
	fill: gray;
	stroke: black;
	stroke-width: .5px;
}

.countries_1815{
	fill: gray;
	stroke: black;
	stroke-width: .5px;
}

.mapContainer{
	fill: #a4bac7;

}

.dropdown {
    position: absolute;
    top: 40px;
    left: 425px;
    z-index: 10;
    font-family: baskerville;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}


.projDropdown {
    position: absolute;
    top: 100px;
    left: 425px;
    z-index: 10;
    font-family: baskerville;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}