.land {
    fill:   #d7c7ad;
 	stroke: #a5967e;
    stroke-width: 1px;
}

.mapContainer{
	fill: #a4bac7;

}

.dropdownProjections{
    position: absolute;
    top: 130px;
    left: 20px;
    z-index: 10;
    font-family: baskerville;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

#controls{
	height: 10%;
	margin: 1%;
}

#map {
	height: 100%;
}

#hexSlider{
	height: 25%;
	width: 250px;
	margin-left: 25px;
}

#mainContainer{
	height: 100%;
}
html, body{
	height: 100%;
	overflow: hidden;
}

.overlay{
  fill: none;
  pointer-events: all;
  cursor:hand;
}



#feed{
	overflow-y: scroll !important;
	right: 0px;
	position: absolute;
	top: 0px;
	width: 300px;
	height: 100%!important;
	max-height: 100%!important;
	min-height: 100%!important;
	background-color: rgba(255, 255, 255, 0.5)
}
.log-entry{
	font-family: 'Shadows Into Light', cursive !important;
}
.log{
	width: 100%;
	cursor:hand;
}
.captain-thumb{
	margin: 0px;
	padding: 0px;
}
.captain-heading, .log-shipname, .log-date{
	margin: 0px;
	padding:0px;
	
}
.log-header{
	margin: 0px;
	padding: 0px;
}
.popover{
	z-index: 10000;
}
.basic-content, .basic-hovercard, .hover-card-details{
	z-index: 100001;
}
