.land {
    fill:   #d7c7ad;
 	stroke: #a5967e;
    stroke-width: 2px;
}

.mapContainer{
	fill: #a4bac7;

}

.dropdownProjections{
    position: absolute;
    top: 130px;
    left: 20px;
    z-index: 10;
    font-family: baskerville;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

#controls{
	height: 10%;
	margin: 1%;
}

#map {
	height: 90%;
}

#hexSlider{
	height: 25%;
	width: 250px;
	margin-left: 25px;
}
